<%- include header %>
<form action="" method='post'>
	<input type="text" name='title' /><br /><br />
	<div class='textarea'>
	<textarea  name='cont' rows="20" clos='400'/></textarea>
	</div>
	<br />
	<input type="submit" value='发表'/>
</form>
<%- include footer %>
			
  
